# API key
.*apikey

# Test files
*.xml
*.torrent
*.sh
*.bat

# PyInstaller files
dist/
build/
jsi*.zip
!build-dist.bat

# pycharm files
.idea/

!LICENSE.TXT
!README*
!build-*.bat
!build-*.cmd
!build-*.sh

debug.log
aria2.log

# Compiled python
*.pyc
